@import '../../variables'

.credit-card-form__input
  display: inline-block
  box-sizing: border-box
  background-color: transparent
  border: 0
  font-family: inherit
  color: black
  letter-spacing: 1px
  height: $innerHeight
  margin-left: 25px
  outline: 0

