@import 'variables'

.credit-card-form
  width: 34em
  font-family: sans-serif
  padding: 1em
  background-color: white
  border-radius: 0.3em
  display: flex
  font-size: $fontSize
  margin: 1em

.credit-card-form__input-card-number
  flex-grow: 1
  margin-left: 0.6em

.credit-card-form__input-expiration
  width: 5em

.credit-card-form__input-cvc
  width: 3.3em
